body {
    background-color: rgb(247, 242, 235);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #6a8a3f;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

img {
    height: 469px;
    width: 567px;
}

.hidden {
    display: none;
}

#cabeçalho {
    font-family: 'Libre Baskerville', serif;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#cabeçalho div {
    display: inline-block;
    text-align: right;
}

#v {
    font-size: 90px;
    color: #6a8a3f;
}

#itta {
    color: #404934;
    font-size: 65px;
    font-weight: 100;
}

#granja-viana {
    font-size: 20px;
    font-weight: 100;
    margin-left: 25px;
}

#lista {
    color: #fff;
    font-weight: 100;
    left: 220px;
    position: absolute;
    text-align: left;
    top: 70px;
    z-index: 3;
}

#lista ul {
    display: inline-block;
    list-style: none;
    font-size: calc((3vw + 3vh) / 2);
}

#lista li {
    margin: -50px;
}

#lista p {
    font-size: calc((3vw + 3vh) / 3);
    margin: 0;
}

#lista li::before {
    color: rgb(253, 226, 75);
    content: "\2022";
    font-size: 90px;
    font-weight: bold;
    vertical-align: middle;
}

#barra-fundo-verde {
    background-color: #6a8a3f;
    height: 352px;
    position: relative;
    top: 100px;
    width: 100%;
    z-index: 1;
}

#slider {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: -59px;
    width: 567px;
    z-index: 2;
}

#texto {
    font-size: calc((3vw + 3vh) / 2.25);
    font-weight: 100;
    padding: 40px;
    position: absolute;
}

#texto a {
    color: #404934;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 576px) {
    #v {
        font-size: 120px;
    }
    
    #itta {
        font-size: 95px;
        font-weight: 100;
    }
    
    #granja-viana {
        font-size: 30px;
        font-weight: 100;
        margin-left: 25px;
    }

    #lista {
        color: #000;
        font-weight: 100;
        left: calc(100vw - 50vw - 567px / 2);
        top: 450px;
    }

    #texto {
        position: absolute;
        top: 975px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    #v {
        font-size: 90px;
    }
    
    #itta {
        font-size: 65px;
        font-weight: 100;
    }
    
    #granja-viana {
        font-size: 20px;
        font-weight: 100;
        margin-left: 25px;
    }

    #lista {
        color: #fff;
        font-weight: 100;
        left: calc((100vw - 50vw - 567px) / 2 + 25px);
        top: 60px;
    }

    #lista ul {
        font-size: calc((3vw + 3vh) / 3);
    }

    #lista p {
        font-size: calc((3vw + 3vh) / 4.5);
        margin: 0;
    }

    #texto {
        font-size: calc((3vw + 3vh) / 3.5);
        text-align: center;
        top: 650px;
    }

    #texto p {
        display: inline-block;
        margin: 5px;
        text-align: left;
        width: 50%;
    }
}
